{% extends 'base.html.twig' %}

{% block title %}
    Create Booking
{% endblock %}

{% block body %}
    <header class="container-fluid container-lg text-center bg-primary p-5">
        <h1>Create Booking</h1>
    </header>

    <main class="container text-center p-5 mt-5">
        {{ form_start(form) }}
        {{ form_row(form.duration, {
            attr: {'class' : 'bg-secondary', 'style': 'width: 30%; margin:auto; color: white;'}
        }) }}
        <div class="text-center">
            {{ form_row(form.startTime, {
                attr: {'class' : 'bg-secondary', 'style': 'width: 30%; margin:auto; color: white;'}
            }) }}
        </div>

        {{ form_row(form.carId, {
            attr: {'class' : 'bg-secondary', 'style': 'width: 30%; margin:auto; color: white;'}
        }) }}

        {{ form_row(form.plugId, {
            attr: {'class' : 'bg-secondary', 'style': 'width: 30%; margin:auto; color: white;'}
        }) }}
        {{ form_row(form.submit, {
            attr: {'class' : 'btn btn-success'}
        }) }}
        {{ form_end(form) }}
    </main>
{% endblock %}