{% extends './base.html.twig' %}

{% block title %}Stations in {{ app.user.getAddress }}{% endblock %}

{% block body %}

    <main class="text-center">
        <h1 class="container-fluid text-center p-5 bg-primary text-white" >Stations in {{ app.user.getAddress }}</h1>
        <table class="table table-hover text-white table-dark table-striped">
            <thead>
            <tr>
                <th>Station Name</th>
                <th>Station Address</th>
                <th>Station Plugs</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            {% for station in stations %}
                <tr>
                    <td>{{ station.name}}</td>
                    <td>{{ station.getLocation}}</td>
                    <td>
                        <ul>
                            {% for plug in station.getPlugs %}
                                <li>{{ plug.getType }} - {% if plug.getStatus != 'Ready' %}unavailable {% else %}available {% endif %} </li>
                            {% endfor %}
                        </ul>
                    </td>

                    <td>
                        <ul>
                            <!--<li><button>See on Google Maps</button></li>-->
                            {% if 'ROLE_ADMIN' in app.user.roles %}
                                <li><a href="/stations/station={{ station.getId() }}" class="btn btn-info">View More</a></li>
                                <li>
                                    <a href="/stations/delete={{ station.getId() }}" class="btn btn-danger">Delete Station</a>
                                    <p style="color:red">Careful! This will also delete every plug associated with the station as well as every booking!</p>
                                </li>
                            {% endif %}
                        </ul>
                    </td>

                </tr>
            {% endfor %}
            </tbody>

        </table>

        {% if 'ROLE_ADMIN' in app.user.roles %}
            <a href="/stations/create" class="btn btn-success">Create Station</a>
        {% endif %}
    </main>
{% endblock %}