{% extends './base.html.twig' %}

{% block title %}Stations in {{ app.user.getAddress }}{% endblock %}

{% block body %}

    <main style="">
        <h1 class="container-fluid text-center p-5 bg-primary text-white" >Stations in {{ app.user.getAddress }}</h1>
        <table class="table table-hover text-white table-dark table-striped">
            <thead>
            <tr>
                <th>Station Name</th>
                <th>Station Address</th>
                <th>Station Plugs</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            {% for station in stations %}
                <tr>
                    <td>{{ station.name}}</td>
                    <td>{{ station.getLocation}}</td>
                    <td>
                        <ul>
                            {% for plug in station.getPlugs %}
                                <li>{{ plug.getType }} - {% if plug.getStatus != 'Ready' %}unavailable {% else %}available {% endif %} </li>
                            {% endfor %}
                        </ul>
                    </td>

                    <td><button>See on Google Maps</button></td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </main>
{% endblock %}