{% extends './base.html.twig' %}

{% block title %}
    {{ app.user.name }}'s Cars
{% endblock %}


{% block body %}

    <h1 class="container-fluid text-center p-5 bg-primary text-white">Your Cars</h1>
    <table class="table table-hover text-white table-dark table-striped">
        <thead>
        <tr>
            <th>Car Plate</th>
            <th>Car Plug Type</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.getPlate}}</td>
                <td>{{ car.getPlugType}}</td>

                <td>
                    <button class="btn btn-success">Update Car</button>
                    <a href="user={{ app.user.id }}/delete_car={{ car.getId }}" class="btn btn-danger">Delete Car</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
{% endblock %}