{% extends './base.html.twig' %}

{% block title %}Station {{ station.getId() }}{% endblock %}

{% block body %}
    <header>
        <h1 class="container-fluid text-center p-5 bg-primary text-white" >Station {{ station.getName() }}/{{ station.getLocation()}} Details</h1>
    </header>

    <main>
        <div class="text-center p-5">
            <ul>
                <li class="m-3">Station Name: {{ station.getName() }}</li>
                <li class="m-3">Station Location: {{ station.getLocation() }}</li>
                <li class="m-3">Station Address: {{ station.getAddress() }}</li>
                <li class="m-3"><a href="/stations/update={{ station.getId() }}" class="btn btn-success">Update Details</a> </li>
                <li class="m-3">Station Plugs:
                    <table class="table table-hover text-white table-dark table-striped text-center m-3 bg-secondary">
                        <thead>
                            <tr>
                                <th>Plug Type</th>
                                <th>Plug Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for plug in plugs %}
                                <tr>
                                    <td>{{ plug.getType() }}</td>
                                    <td>{{ plug.getStatus() }}</td>
                                    <td>
                                        <a href="/stations/station={{ station.getId() }}/edit_plug={{ plug.getId() }}" class="btn btn-success">Update Plug</a>
                                        <a href="/stations/station={{ station.getId() }}/delete_plug={{ plug.getId() }}" class="btn btn-danger">Delete Plug</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </li>

                <li class="m-5">
                    <a href="/stations/station={{ station.getId() }}/create_plug" class="btn btn-success">Create Plug</a>
                </li>
            </ul>
        </div>
    </main>

{% endblock %}