{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}
    {% for item in registration %}
        <li>{{item.id}} {{ item.startTime }} {{ item.duration }} {{ item.carId.id }} {{ item. plugId.id}}</li>
    {% endfor %}
{% endblock %}
